<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
<title>Recent articles</title>
<meta name="title" content="Recent articles">
<meta name="description" content="">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://readeryte.netlify.app/blog/">
<meta property="og:title" content="Recent articles">
<meta property="og:description" content="">
<meta property="og:image" content="">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://readeryte.netlify.app/blog/">
<meta property="twitter:title" content="Recent articles">
<meta property="twitter:description" content="">
<meta property="twitter:image" content="">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    
</head>

<body>

    {% include 'header.njk' %}
    <main>
        {{ content | safe}}
    </main>
    {% include 'footer.njk' %}




    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>

</body>
</html>